#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App {
    width: 60%;
}

#quote-box{
  background: #FFC;
  padding: 1em 1.6em;
  border-radius: 1em;
}

.btn--blue {
  padding: 0.5em 0.9em;
  background: navy;
  color: white;
  border-radius: 1em;
}
